* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Universal Styles */
.btn-primary {
  background-color: #4e47ff;
  color: #fff;
  padding: 12px 36px;
  border: 1px solid #4e47ff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #fff;
  color: #4e47ff;
  transition: all 0.2s linear;
}
body {
  background-color: #f5f8ff;
}

/* Header Section */
.header-section {
  background-image: url("./assests/Hero-bg.png");
  height: 814px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Navbar Style */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}
.nav-title {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #4e47ff;
  text-transform: uppercase;
}
nav ul li {
  list-style: none;
}
nav a {
  text-decoration: none;
}
/* Hero Section */

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #252432;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-hero {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 130px;
}

/* Action Section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 115px;
  padding: 0px 250px;
}
.action-heading {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 25px;
}
.action-sub-heading {
  color: #2524327a;
  font-size: 24px;
  margin-bottom: 30px;
}
.action-img img {
  border-radius: 48px;
  width: 430px;
  height: 340px;
}

/* User Section */
.user-section {
  background-color: #4d47ff0a;
  margin: 115px 150px 0 150px;
  text-align: center;
  border-radius: 10px;
}
.user-heading {
  font-size: 42px;
  font-weight: 600;
  padding: 50px;
}
.user-counter {
  display: flex;
  justify-content: space-around;
}
.user-card {
  padding: 0px 100px 50px 100px;
}
.user-card-title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 80px;
  color: #4e47ff;
}
.user-card-sub-title {
  color: #2524327a;
}

/* Client Section */
.client-title {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin: 150px 0 50px 0;
}
.client-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 50px 150px;
  border-radius: 24px;
}
.client-card {
  background-color: #fff;
  padding: 48px 24px;
  border-radius: 10px;
}
.client-card:hover {
  box-shadow: 10px 10px 10px #2524322f;
  transition: all 0.2s linear;
}
.card-title {
  margin: 15px 0px;
}
.card-description {
  color: #1e1e1e;
}
.card-body {
  display: flex;
  align-items: center;
  gap: 12px;
}
.card-img {
  margin: 15px 0px;
  display: flex;
  gap: 10px;
}
.card-img img {
  border-radius: 50%;
}
.card-name {
  font-weight: bold;
  color: #757575;
}
.card-date {
  color: #b3b3b3;
}
/* Focus Section */
.focus-section {
  text-align: center;
  background-color: #fff;
  margin: 100px 150px;
  padding: 70px 150px;
  border-radius: 14px;
}
.focus-title {
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}
.focus-sub-title {
  color: #b3b3b3;
  margin-bottom: 20px;
}
.focus-img {
  margin-top: 20px;
}
.focus-img img {
  border-radius: 48px;
}

/* Contact Section */
.contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 100px;
}
.contact-title {
  font-size: 100px;
  padding: 40px;
  width: 50%;
}
.contact-from {
  width: 100%;
}
legend {
  color: #000000;
}
form input[type="email"],
form input[type="text"] {
  font-family: "Inter", sans-serif;
  height: 70px;
  border-radius: 5px;
  background-color: #fff;
  color: #7a7a7a;
  display: block;
  width: 700px;
  padding: 10px 20px;
  margin: 10px 0 15px 0;
  border: none;
}
form textarea {
  height: 200px;
  border-radius: 5px;
  background-color: #fff;
  color: #7a7a7a;
  display: block;
  width: 700px;
  padding: 10px 20px;
  margin: 10px 0 15px 0;
  border: none;
}
.contact-btn {
  width: 100%;
}

/* Footer Section */
footer {
  height: 450px;
  background-color: #fff;
  text-align: center;
  padding: 100px 500px 200px 500px;
}
.footer-logo {
  font-family: "Inter", sans-serif;
  color: #4e47ff;
  font-size: 100px;
  text-transform: uppercase;
}
.footer-description {
  color: #8987a1;
  padding: 30px 0px;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 160px;
}
.footer-links li {
  list-style: none;
}
.footer-links a {
  color: #8987a1;
  text-decoration: none;
}
.footer-links a:hover {
  color: #000000;
  font-weight: 400;
  transition: all 0.2s linear;
}
